{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": "./assets",
          "@utils": "./src/utils",
          "@service": "./src/service",
          "@hooks": "./src/hooks",
          "@context": "./src/context"
        }
      }
    ]
  ]
}
